html {
  background-color: cornflowerblue;
  overflow: hidden;
}

h2 {
  font-family: sans-serif;
  color: #483D9B;
  margin-left: 22px;
}

h3 {
  font-family: sans-serif;
  font-size: 15pt;
  color: #483D9B;
  margin-left: 22px;
}

ul {
  margin: 0;
}

section li {
  height: 235px;
  width: 166px;
  margin: 0px;
  padding: 0;
  display:inline;
  border-radius: 50px;
  line-height: 20px;
  white-space: nowrap;
}

a {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

nav {
  display: inline-block;
  width: 375px;
  position: fixed;
  bottom: 0;
  background-color: white;
}

#explorebody {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto 0 auto;
  height: 829px;
  overflow: auto;
}


#explore {
  margin-top: 20px;

}

#enjoy {
  margin-top: 30px;

}

#searchbutton {
  margin-left: 65px;

}

#explorebutton {
  margin-left: 57px;
  margin-right: 57px;
}

#profilebutton {
  margin-right: 65px;

}

#loginbody {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://i.imgur.com/RU2ZrOb.png");
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto 0 auto;
  height: 829px;
  overflow: auto;
}

.whitebox {
  width: 319px;
  height: 362px;
  background: white;
  border-radius: 25px;
  margin: 250px 28px 128px 28px;
}
.exp {
  margin-left: 0;
}
