html {
  background-color: cornflowerblue;
  overflow: hidden;
}

h2 {
  font-family: Avenir-Black;
  color: #483D9B;
  margin-left: 22px;
  margin-bottom: 5px;
}

h3 {
  font-family: sans-serif;
  font-size: 15pt;
  color: #483D9B;
  display: inline;
}

ul {
  padding-left: 22px;
}

section li {
  margin: 2.55px;
  padding: 0;
  display:inline;
  border-radius: 50px;
  line-height: 20px;
  white-space: nowrap;
}


a {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: inline-block;
  width: 375px;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: white;
  margin-bottom: 10px;
}

#explore {
  margin-top: 20px;

}

#enjoy {
  margin-top:0px;

}

.searchbutton {
  margin-left: 65px;
  margin-bottom: 10px;

}

.explorebutton {
  margin-left: 57px;
  margin-right: 57px;
  margin-bottom: 10px;
}

.profilebutton {
  margin-right: 65px;
  margin-bottom: 10px;

}

#loginbody {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://i.imgur.com/RU2ZrOb.png");
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto 0 auto;
  height: 829px;
  overflow: auto;
}

#logo {
  margin-top: 120px;
  margin-right: 66px;
  margin-left: 65px;
}

#up {
  margin-left: 25px;
  margin-right: 55px;
  padding-top: 10px;
  color: #483D9B;
}

#in {
  margin-left: 20.5px;
  margin-right: 50px;
  padding-top: 10px;
  color: #483D9B;
}

#signinpush {
  color: white;
  font-family: Avenir-Black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 12px;
}


#exploreheader {
  display: inline;
}

#username {
  font-size: 25px;
  font-family: Avenir-Black;
  margin-bottom: 5px;
}

#messagepush {
  color: white;
  font-family: Avenir-Black;
  font-size: 20px;
  text-align: center;
  margin-bottom: 7px;
  margin-top: -2px;
}

#fave {
  margin-right: 30px;
  margin-left: 15px;

}

#int {
  margin-right: 40px;
  margin-left: 20px;

}

#doc {
  margin-right: 15px;
  margin-left: 10px;

}

#userinfo {
  font-size: 15px;
  font-family: Avenir-Roman;
  margin-top: 5px;
}

#foodinfo {
  font-size: 15px;
  font-family: Avenir-Roman;
  text-align: center;
}

.mainbody {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  background:linear-gradient(180deg, #ffffff, #EBEAEA);
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto 0 auto;
  height: 829px;
  overflow: auto;
}

.subheading {
  font-family: Avenir-Roman;
  margin:5px 0 0 22px;
  color: #483D9B;
  margin-top: 5px;
}

.loginfields {
  color: lightgrey;
  font-family: Avenir-Black;
  font-size: 20px;
  border: 1.5px solid #483D9B;
  padding: 5px;
  border-radius: 8px;
  margin-top: 40px;
}

.headernav {
  margin-left: 22px;
  margin-right: 50px;
}

.user {
  color:#483D9B;
  text-align: center;
}

.usertabstext {
  font-family: Avenir-Black;
  color: black;
  font-size: 15px;
  display: inline;
}


div.container {
 max-width: 375px;
 padding: 0px;
 background-color: linear-gradient(180deg, #ffffff, #EBEAEA);
 overflow: auto;
}

div.content {
  display: flex;
 flex-wrap: wrap;
 min-width: 748px;
}
div.content2 {
  display: flex;
 flex-wrap: wrap;
 min-width: 608px;
}

div.logincontainer {
  width: 290px;
  height: 330px;
  background: white;
  border-radius: 25px;
  margin-left: 28px;
  margin-top: 61px;
  padding: 15px;
}

div.fieldscontainer {
  margin-top: 60px;
}

div.signinbutton {
  background: #483D9B;
  border-radius: 8px;
  padding: 10px;
  width: 270px;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 35px;
}

div.profilepicture {
  margin: auto;
  height: 114px;
  width: 114px;
}

div.messagebutton {
  background: #483D9B;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  height: 20px;
  margin:auto;
  margin-top: 20px;
}

div.usertabs {
  margin: auto;
  margin-top: 20px;
  height: 20px;
  width: 350px;
}

div.listoffavorites {
  height: 416px;
  width: 318px;
  margin: auto;
  margin-top: 20px;
  overflow: auto;
}
div.listofrestaurants {
  height: 656px;
  width: 318px;
  margin: auto;
  margin-top: 20px;
  overflow: auto;
}
